# Use your free TiDB Cloud MySQL-compatible connection string here.
# Example only. Replace username, password, host and database name.
DATABASE_URL="mysql://W4rnT1Z8Kr367zj.root:yUZxKkiT4enH8wBL@gateway01.ap-southeast-1.prod.aws.tidbcloud.com:4000/reno_notice_board?sslaccept=strict"